.body{
    background-color: bisque;
}

h1{
    color:crimson;
    font-size: 30px;
    text-align: center;
}
p{
    color: #721515;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

#id_01{
    color: black;
    font-size: 20px;
}
#id_02{
    color: rgb(217, 95, 228);
    font-size: 20px;
}

.div_01 p{
    color: blue;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}