/* common css */
*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1300px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}


/* navbar start*/
nav{
    background: #FAE3B6;
    padding: 50px 0;
}

nav .box{
    align-items: center;
}

.box{
    display: flex;
}

.logo{
    width: 20%;
}
.nav_menu{
    width: 60%;
}
.nav_menu ul{
    display: flex;
    column-gap: 60px;
    justify-content: center;
}
.nav_menu ul li a{
    color: black;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.button{
    width: 20%;
    text-align: right;
}

nav .button a{
    background: #FDBB57;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border: 1px solid transparent;
}
nav .button .button_gap{
    margin-left: 10px;
}

nav .button a:hover{
    background: #FAE3B6;
    border-color: #FDBB57;
}

/* banner_part_start */
.banner{
    background: #FAE3B6;
}
.banner .box{
    padding-top: 100px;
}

.box .left{
    width: 50%;
}

.box .left h1{
    width: 540px;
    height: 263px;
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 600;
}

.box .left{
    width: 50%;
}

.box .left p{
    padding-top: 38px;
    width: 530px;
    height: 120px;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 76px;
}

.box .left a{
    padding: 15px 30px;
    color: white;
    background: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid transparent;
}

.box .left a:hover{
    background: #FAE3B6;
    border: 1px solid black;
    color: black;
}

.box .right{
    width: 50%;
    padding-bottom: 102px;
}

/* banner_part_end */


/* collection part start */

.collection h2{
    display: flex;
    font-family: "Frank Ruhl Libre", serif;
    font-size: 64px;
    font-weight: 700;
    color: black;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    margin-bottom: 73px;
}

.collection .card{
    width: 349px;
    height: 402px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.collection .box{
    justify-content: space-between;
}

.collection .card .overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0%;
    transition: 1s;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection .card:hover .overlay{
    top: 0%;
    padding-top: 100px;
}

.collection .card .overlay a{
    color: black;
    background: rgba(255, 255, 255, 0.815);
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
    border-radius: 10px;
    padding: 10px 100px;
}

/* collection part end */

/* fashion part start */

.fashion{
    margin-top: 180px;
}

.fashion .box{
    align-items: center;
    position: relative;
}

.fashion .left{
    width: 50%;
}

.fashion .left img{
    width: 100%;
}

.fashion .right{
    width: 50%;
    margin-left: 20px; 
    padding-bottom: 0;
}
.fashion .right h2{
    width: 437px;
    font-family: "Frank Ruhl Libre", serif;
    font-size: 64px;
    font-weight: 700;
    color: black;
}
.fashion .right p{
    width: 443px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-top: 63px;
    color: black;
}

.info-box{
    position: absolute;
    bottom: -190px;
    right: 0;
    width: 793px;
    background: #FEECC8;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 63px 0px;
    z-index: -1;
}

.info-box .mini-box h4{
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 54px;
    font-weight: 700;
}
.info-box .mini-box p{
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 500;
}
.info-box .mini-box{
    border-right: 1px solid black;
    padding-right: 35px;
}
.info-box .mini-box:last-child{
    border-right: 0px;
}

/* fashion part end */