.body{
    margin: 100px 350px;
}
.main{
    width: 800px;
    height: 400px;
    background-color: rgb(0, 0, 0);
}
.one{
    width: 800px;
    height: 100px;
    background-color: rgb(190, 92, 72);
}
.two{
    width: 800px;
    height: 100px;
    background-color: rgb(134, 178, 186);
    display: flex;
}
.five{
    width: 400px;
    height: 100px;
    background-color: rgb(255, 151, 71);
    display: flex;
}
.seventeen{
    width: 200px;
    height: 100px;
    background-color: darkgrey;
}
.eighteen{
    width: 200px;
    height: 100px;
    background-color: rgb(233, 47, 47);
    display: flex;
}
.nineteen{
    width: 100px;
    height: 100px;
    background-color: chartreuse
}
.twenty{
    width: 100px;
    height: 100px;
    background-color: rgb(254, 254, 254)
}
.six{
    width: 400px;
    height: 100px;
    background-color: rgb(125, 166, 174);
    display: flex;
}
.seven{
    width: 200px;
    height: 100px;
    background-color: rgb(134, 127, 211);
    display: flex;
}
.nine{
    width: 100px;
    height: 100px;
    background-color: rgb(58, 107, 46);
}
.ten{
    width: 100px;
    height: 100px;
    background-color: rgb(24, 196, 239);
}
.eight{
    width: 200px;
    height: 100px;
    background-color: rgb(126, 195, 77);
    display: flex;
}
.eleven{
    width: 100px;
    height: 100px;
    background-color: rgb(248, 248, 248);
}
.thirteen{
    width: 100px;
    height: 50px;
    background-color: rgb(183, 123, 43);
}
.fourteen{
    width: 100px;
    height: 50px;
    background-color: rgb(225, 140, 106);
    display: flex;
}
.fifteen{
    width: 50px;
    height: 50px;
    background-color: rgb(228, 228, 117);
}
.sixteen{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 127, 236);
}
.twelve{
    width: 100px;
    height: 100px;
    background-color: rgb(235, 49, 55);
}
.three{
    width: 800px;
    height: 100px;
    background-color: rgb(252, 255, 71);
}
.four{
    width: 800px;
    height: 100px;
    background-color: rgb(255, 175, 71);
    display: flex;
}
.twenty_one{
    width: 400px;
    height: 100px;
    background-color: indianred;
    display: flex;
}
.thirty_seven{
    width: 200px;
    height: 100px;
    background-color: rgb(60, 220, 234);
    display: flex;
}
.thirty_nine{
    width: 100px;
    height: 100px;
    background-color: rgb(88, 129, 137);
}
.forty{
    width: 100px;
    height: 100px;
    background-color: rgb(239, 154, 43);
}
.forty_one{
    width: 100px;
    height: 20px;
    background-color: rgb(58, 188, 188);
}
.forty_two{
    width: 100px;
    height: 20px;
    background-color: rgb(236, 210, 117);
}
.forty_three{
    width: 100px;
    height: 20px;
    background-color: rgb(83, 237, 135);
}
.forty_four{
    width: 100px;
    height: 20px;
    background-color: rgb(244, 111, 150);
}
.forty_five{
    width: 100px;
    height: 20px;
    background-color: rgb(248, 248, 248);
    display: flex;
}
.forty_six{
    width: 50px;
    height: 20px;
    background-color: cyan;
}
.forty_seven{
    width: 50px;
    height: 20px;
    background-color: rgb(243, 243, 243);
}
.forty_eight{
    width: 50px;
    height: 10px;
    background-color: blueviolet;
}
.forty_nine{
    width: 50px;
    height: 10px;
    background-color: rgb(226, 43, 144);
}
.thirty_eight{
    width: 200px;
    height: 100px;
    background-color: indianred;
}
.twenty_two{
    width: 400px;
    height: 100px;
    background-color: rgb(222, 216, 216);
    display: flex;
}
.twenty_three{
    width: 200px;
    height: 100px;
    background-color: rgb(246, 246, 246);
}
.twenty_five{
    width: 200px;
    height: 50px;
    background-color: cadetblue;
}
.twenty_six{
    width: 200px;
    height: 50px;
    background-color: rgb(238, 240, 240);
    display: flex;
}
.twenty_seven{
    width: 100px;
    height: 50px;
    background-color: rgb(238, 240, 240);
}
.twenty_eight{
    width: 100px;
    height: 50px;
    background-color: rgb(192, 221, 97);
}
.twenty_nine{
    width: 100px;
    height: 25px;
    background: #9c64bc;
}
.thirty{
    width: 100px;
    height: 25px;
    background: #d56c21;
    display: flex;
}
.thirty_one{
    width: 25px;
    height: 25px;
    background: #0ef3c5;
}
.thirty_two{
    width: 25px;
    height: 25px;
    background: #e37575;
}
.thirty_three{
    width: 25px;
    height: 25px;
    background: #b7e718;
}
.thirty_four{
    width: 25px;
    height: 25px;
    background: #0cadd9;
}
.thirty_five{
    width: 25px;
    height: 12.5px;
    background-color: beige;
}
.thirty_six{
    width: 25px;
    height: 12.5px;
    background-color: rgb(26, 115, 217);
}
.twenty_four{
    width: 200px;
    height: 100px;
    background-color:darksalmon
}