/* for outside border */
h1{
    color: blueviolet;
    font-size: 30px;
    text-align: center;
}
.main_div{
    border: 2px solid black;
    height: 2000px;
}

/* for inside border & text position*/
.animation_1{
    margin: 20px 20px;
    height: 150px;
    width: 300px;
    padding: 20px;
    border: 2px solid black;
    position: relative;
    display: inline-block;
}

h3{
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    display: inline-block;
}

/* for button_animation */
.test_1{
    left: 50%;
    padding: 40px 80px;
    font-size: 20px;
    background-color: rgb(33, 152, 207);
    color: white;
    border: none;
    transform: translateX(-50%);
    position: relative;
    z-index: 1;
    display: inline-block;
}

.overlay_1{
    height: 0;
    width: 100%;
    background-color: rgb(111, 48, 170);
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    z-index: -1;
    display: inline-block;
}

.test_1:hover .overlay_1{
    height: 100%;
    display: inline-block;
}

.animation_2{
    margin: 20px;
    border: 2px solid black;
    width: 300px;
    height: 150px;
    display: inline-block;
    position: absolute;
}

.test_2{
    
}




