/* for outside border */
h1{
    color: blueviolet;
    font-size: 30px;
    text-align: center;
}
.main_div{
    border: 2px solid black;
    height: 700px;
    width: 1200px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    display: block;
}

/* for inside border & text position*/
.animation_1{
    margin: 20px 25px;
    height: 150px;
    width: 300px;
    padding: 20px;
    border: 2px solid black;
    position: relative;
    display: inline-block;
}

h3{
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    display: inline-block;
}

/* for button_animation_1 */
.test_1{
    left: 50%;
    padding: 40px 80px;
    font-size: 20px;
    background-color: rgb(33, 152, 207);
    color: white;
    border: none;
    transform: translateX(-50%);
    position: relative;
    z-index: 1;
    display: inline-block;
}

.overlay_1{
    height: 0;
    width: 100%;
    background-color: rgb(111, 48, 170);
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    z-index: -1;
    display: inline-block;
}

.test_1:hover .overlay_1{
    height: 100%;
    display: inline-block;
}

/* for button_animation_2 */
.animation_2{
    margin: 20px 25px;
    border: 2px solid black;
    width: 300px;
    height: 150px;
    display: inline-block;
    position: relative;
    padding: 20px;
}

.test_2{
    left: 50%;
    padding: 40px 80px;
    font-size: 20px;
    background-color: black;
    color: white;
    transform: translate(-50%);
    position: relative;
    border: none;
    z-index: 1;
    display: inline-block;
}

.overlay_2{
    background-color: chocolate;
    height: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 1s;
    position: absolute;
    display: inline-block;
}

.test_2:hover .overlay_2{
    height: 100%;
    display: inline-block;
}

/* for button_animation_3 */
.animation_3{
    margin: 20px 25px;
    border: 2px solid black;
    padding: 20px;
    height: 150px;
    width: 300px;
    position: relative;
    display: inline-block;
}

.test_3{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 80px;
    font-size: 20px;
    color: white;
    background-color: rgb(142, 84, 197);
    border: none;
    display: inline-block;
    z-index: 1;
}

.overlay_3{
    background-color: burlywood;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 1s;
    position: absolute;
    display: inline-block;
}

.test_3:hover .overlay_3{
    width: 100%;
    display: inline-block;
}

/* for button_animation_4*/
.animation_4{
    margin: 20px 25px;
    border: 2px solid black;
    padding: 20px;
    height: 150px;
    width: 300px;
    position: relative;
    display: inline-block;
}

.test_4{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 80px;
    font-size: 20px;
    color: white;
    background-color: rgb(236, 171, 102);
    border: none;
    display: inline-block;
    z-index: 1;
}

.overlay_4{
    background-color: rgb(92, 204, 111);
    height: 100%;
    width: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transition: 1s;
    position: absolute;
    display: inline-block;
}

.test_4:hover .overlay_4{
    width: 100%;
    display: inline-block;
}

/* for button_animation_5*/
.animation_5{
    margin: 20px 25px;
    border: 2px solid black;
    padding: 20px;
    height: 150px;
    width: 300px;
    position: relative;
    display: inline-block;
}

.test_5{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 80px;
    font-size: 20px;
    color: white;
    background-color: rgb(196, 102, 102);
    border: none;
    display: inline-block;
    z-index: 1;
}

.overlay_5_1{
    background-color: rgb(40, 220, 211);
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 1s;
    position: absolute;
    display: inline-block;
}

.test_5:hover .overlay_5_1{
    width: 50%;
    display: inline-block;
}
.overlay_5_2{
    background-color: rgb(40, 220, 211);
    height: 100%;
    width: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transition: 1s;
    position: absolute;
    display: inline-block;
}

.test_5:hover .overlay_5_2{
    width: 50%;
    display: inline-block;
}

/* for button_animation_6*/
.animation_6{
    margin: 20px 25px;
    border: 2px solid black;
    padding: 20px;
    height: 150px;
    width: 300px;
    position: relative;
    display: inline-block;
}

.test_6{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 80px;
    font-size: 20px;
    color: white;
    background-color: rgb(89, 209, 49);
    border: none;
    display: inline-block;
    z-index: 1;
}

.overlay_6_1{
    background-color: rgb(227, 126, 58);
    height: 0;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 1s;
    position: absolute;
    display: inline-block;
}

.test_6:hover .overlay_6_1{
    height: 50%;
    display: inline-block;
}
.overlay_6_2{
    background-color: rgb(227, 126, 58);
    height: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 1s;
    position: absolute;
    display: inline-block;
}

.test_6:hover .overlay_6_2{
    height: 50%;
    display: inline-block;
}

/* for button_animation_7*/
.animation_7{
    margin: 20px 25px;
    border: 2px solid black;
    padding: 20px;
    height: 150px;
    width: 300px;
    position: relative;
    display: inline-block;
}

.test_7{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 80px;
    font-size: 20px;
    color: white;
    background-color: rgb(49, 221, 175);
    border: none;
    display: inline-block;
    z-index: 1;
}

.overlay_7_1{
    background-color: rgb(153, 48, 92);
    height: 0;
    width: 50%;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 1s;
    position: absolute;
    display: inline-block;
}

.test_7:hover .overlay_7_1{
    height: 100%;
    display: inline-block;
}
.overlay_7_2{
    background-color: rgb(153, 48, 92);
    height: 0;
    width: 50%;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: 1s;
    position: absolute;
    display: inline-block;
}

.test_7:hover .overlay_7_2{
    height: 100%;
    display: inline-block;
}

/* for button_animation_8*/
.animation_8{
    margin: 20px 25px;
    border: 2px solid black;
    padding: 20px;
    height: 150px;
    width: 300px;
    position: relative;
    display: inline-block;
}

.test_8{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 80px;
    font-size: 20px;
    color: white;
    background-color: rgb(49, 221, 175);
    border: none;
    display: inline-block;
    z-index: 1;
}

.overlay_8_1{
    background-color: rgb(153, 48, 92);
    height: 50%;
    width: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 1s;
    position: absolute;
    display: inline-block;
}

.test_8:hover .overlay_8_1{
    width: 100%;
    display: inline-block;
}
.overlay_8_2{
    background-color: rgb(153, 48, 92);
    height: 50%;
    width: 0%;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: 1s;
    position: absolute;
    display: inline-block;
}

.test_8:hover .overlay_8_2{
    width: 100%;
    display: inline-block;
}



/* start_image_animation */
.image{
    margin: 20px auto;
    border: 2px solid rgb(0, 0, 0);
    height: 500px;
    width: 800px;
    background: url(../images/road.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.image .sun{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 140px;
    top: 200px;
    animation: sun 11s linear infinite;
}
.image .bike{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0px;
    top: 360px;
    animation: bike 7s linear infinite;
}
.image .car{
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0px;
    top: 390px;
    animation: car 9s linear infinite;
}
.image .police{
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0px;
    top: 300px;
    animation: police 7s linear infinite;
}
@keyframes sun{
    0%{
        z-index: -1;
        top: 200px;
        left: 140px;
    }
    40%{
        left: 140px;
        top: 80px;
        z-index: 1;
    }
    70%{
        z-index: 1;
        left: 140px;
        top: 30px;
    }
    90%{
        z-index: 1;
        left: 140px;
        top: 30px;
    }
    100%{
        z-index: -1;
        left: 140px;
        top: 200px;
    }
    
}
@keyframes bike{
    0%{
        left: 0px;
        top: 360px;
        z-index: 1;
    }
    45%{
        left: 50%;
        top: 360px;
        transform: scaleX(1);
        transform: translate(-100%);
    }
    52%{
        left: 50%;
        top: 380px;
        transform: scaleX(-1);
        z-index: 1;
    }
    100%{
        left: -10px;
        top: 380px;
        transform: scaleX(-1);
        z-index: 1;
    }
    
}
@keyframes car{
    0%{
        right: 0px;
        top: 390px;
        transform: scaleX(-1);
        z-index: 3;
    }
    100%{
        right: 100%;
        top: 390px;
        transform: translateX(100%) scaleX(-1);
        z-index: 3;
    }
}
@keyframes police{
    0%{
        right: 0px;
        top: 310px;
        z-index: 2;
    }
    70%{
        right: 30%;
        top: 300px;
        transform: scaleX(1);
        z-index: 2;
    }
    75%{
        right: 30%;
        top: 300px;
        transform: scaleX(-1);
        z-index: 2;
    }
    100%{
        right: 0;
        top: 300px;
        transform: scaleX(-1);
        z-index: 2;
    }
}
